// general styles will go here


// styles for pokedex v 
.flexContainer {
  display: flex; 
}

// pokedex title / text on page 
.titleSpacing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%; 

}

h1 {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

body {
    background-image: url(../assets/cerulean_city.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
}

.buttonContainer {
  display: flex; 
  width: 60%;
  margin: 5%;
}

.show {
  display: none;
}

.pokedexBase { 
  flex-direction: column;
  background: linear-gradient(to left, $accentColor 0%, $mainColor 8%);
  height: 500px;
  width: 45%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: -10px 8px 1px 3px $accentColor; 
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.pokedexCentering {
    margin-bottom: 10%;
}


.pokedexTop {
  width: 100%;
  height: 25%; 
  background-color: $mainColor;
  border-bottom: 5px solid $accentColor; 
  border-top-left-radius: 30px; 
  border-bottom-right-radius: 150px;
  position: relative;
  display: flex; 
  flex-direction: row-reverse;
}

.blueCircle {
  position: absolute;
  left: 5%; 
  top: 10%; 
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: (linear-gradient(to right, $circleColorFade, $circleColor 60%));
  border: 2px solid $white; 
}


.highlight {
  height: 30px;
  width: 45px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: $highlight;
  border-radius: 50%;
}

.pokedexTitle  {
  width: 50%; 
  justify-content: center;
  display: flex;
  align-items: center;
  position: unset;
  margin-right: 15%;
}

.pokedexExternalScreen {
  width: 80%; 
  height: 200px; 
  background-color: $externalScreen;
  border-radius: 15px;
  border: 1px solid $black;
  padding: 5%; 
}

.pokedexInternalScreen {
  height: 100%; 
  background-color: $white;
  border-radius: 15px;
  border: 1px solid $black; 
  display: flex;  
  justify-content: center;
  align-items: center;
    img {
      width: 170px; 
    }
}

h2 {
  @include fontSize(10);
  margin: 0 5% 2% 5%; 
}

.pokedexInfoSizing {
  flex-direction: column;
  width: 80%; 
}

.pokedexInfoContain {
  width: 100%; 
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $black; 
  margin-bottom: 10%; 
  border-radius: 15px; 
  color: $white;
}

.pokedexInfo {
  padding: 5%; 
  overflow-x: hidden;
  overflow-y: auto;
  @include fontSize (18);
    p {
      line-height: 30px; 
    }
}

.hinge {
  width: 5%; 
  border: 2px solid $accentColor;
  box-shadow: -4px 8px 1px 1px $shadowColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  background: linear-gradient(to right, $hingeShade, $mainColor, $hingeShade);
  z-index: 2;
}

.hingePart {
  width: 50px;
  height: 50px; 
  border: 2px solid $accentColor;
  box-shadow: -3px 1px 5px 1px $accentColor;
  background: linear-gradient(to left, $accentColor, $mainColor, $accentColor);
}

.pokedexCover {
  flex-direction: column;
  width: 45%; 
  height: 400px; 
  background-color: $mainColor;
  align-self: flex-end;
  border-left: none; 
  border-bottom-right-radius: 30px;
  box-shadow: 0px 8px 1px 3px $accentColor;
  z-index: 1;
}

.pokedexCoverWrapper {
  display: flex; 
  flex-direction: column;
  width: 80%; 
  flex: 1 1 20%;
  margin: 0 auto;
  justify-content: space-evenly;
}

// pokedex number pad v 

button {
  background: linear-gradient(to left, $highlightButton 10%, $mainButtonColor 30% );
  border: 2px solid $buttonBorderColor; 
  flex: 1 1 20%;
  padding: 5%; 
  @include fontSize(20);
    &:active {
    background: $buttonPress;
  }
}

.swal2-styled.swal2-confirm:focus,
.swal2-popup:focus,
section:focus,
button:focus,
input:focus,
button:hover,
input:hover {
  border: 2px dotted $black;
  cursor: pointer;  
}

.enter {
  margin-right: 1%; 
}

.numberPad {
  flex-wrap: wrap; 
}

.digitsDisplay {
  display: flex;
  width: 100%; 
  justify-content: space-evenly;
  align-items: center;
  background-color: $black;
  border-radius: 15px;
  flex: 0 1 20%;
  color: $white;
  @include fontSize (18);
}

.digitLeft,
.digitCenter,
.digitRight {
  height: 30px;
  flex: 0 1 20%;
  border-bottom: 2px solid $digitsLine;
  text-align: center;
}

input {
  width: 50%;
  padding: 2%; 
  background-color: $inputButtons;
  flex: 1 1 auto;
  @include fontSize(15);
}

div .swal2-popup {
  padding: 5%; 
  border-radius: 15px; 
}

h2.swal2-title {
  @include alertFont(25);
  margin-bottom: 5%;
}

#swal2-content {
  @include alertFont(20);
  line-height: 35px;
}

.alert {
  background-image: url(../assets/pokedex_text_box_two.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include alertFont (20);
  display: none;
  position: absolute;
  background-color: $white;
  padding: 5%;
  width: 60%;
  border-radius: 15px; 
  top: 25%;
  z-index: 2;
    h2 {
      margin-bottom: 20px;
    }
      p {
        margin-bottom: 10px;
      }
}

button.ok {
  width: 100%;
  height: 10px;
}

.alertBoxSizing {
  display: flex; 
  justify-content: center;
}

//styles for the number pad ^

// styles for pokedex ^ 

// footer styles 

footer {
  display:flex;
  justify-content: center;
  padding: 2%; 
  background-color: $mainColor;
  height: 10vh; 
    img {
      height: 20px;
      width: 20px; 
    }
}