// media queries will go here 


// tablet size screen / button fix
@media (max-width: 855px) {

    .instructions {
        font-size: 2vw; 
    }

    .pokedexCentering {
        display: flex; 
        flex-direction: column;
    }

    .pokedexBase {
        width: 100%; 
        height: 600px;
        border-top-right-radius: 30px;
        border-bottom: 5px solid $accentColor;
        box-shadow: none; 
        border-bottom-left-radius: 0; 
    }

    .hinge {
        display: none; 
    }

    .pokedexCover {
        width: 100%; 
        height: 600px;
        background: linear-gradient(to left, $accentColor 0%, $mainColor 8%);
        border-bottom-left-radius: 30px;
        box-shadow: none;  
    }

    .pokedexTop {
        border-top-right-radius: 30px;
    }

    .blueCircle {
        width: 100px; 
        height: 100px; 
        .highlight {
            right: 15px;
        }
    }
    


}

  @media (max-width: 480px) {
    
    .pokedexCentering {
        width: 100%; 
        margin-bottom: 0;
    }

    .wrapper {
        width: 100%; 
    }

    .instructions {
        font-size: 10px; 
    }

    .pokedexCover,
    .pokedexBase {
        border-radius: 0px;
    }

    body {
        background: none; 
    }

    .buttonContainer {
        width: 100%; 
        margin: 0; 
    }

    .titleSpacing {
        padding: 0;
    }

    footer {
        // margin-top: 5%; 
        border-top: 2px solid $accentColor;
        background: none;
    }

    ul {
        flex-direction: row;
    }

    nav {
        flex-direction: column;
    }

    .footerImage {
    background-image: url(../assets/pokemon_border_two.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
        p {
            font-size: 10px; 
        }
}

}