// this is where variables go

$mainColor: #ec0808;
// main bright red colour of pokedex
$accentColor: #790808; 
// shadow / accent colour of pokedex 
$circleColor: #135dff;
// blue circle colour 
$circleColorFade: #0032d6; 
// blue circle colour fade 
$white: #ffffff; 